<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<div th:replace="layout/header::header(null,null)"></div>
<body class="nav-md">
<div class="container body">
    <div th:replace="layout/header::header-body"></div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li class="active">资源管理</li>
            </ol>
            <div class="x_panel">
                <div class="x_content">
                    <div class="table-responsive">
                        <div class="btn-group hidden-xs" id="toolbar">
                            <button shiro:hasPermission="resource:add" id="btn_add" type="button" class="btn btn-default" title="新增资源">
                                <i class="fa fa-plus"></i> 新增资源
                            </button>
                            <button shiro:hasPermission="resource:batchDelete" id="btn_delete_ids" type="button" class="btn btn-default" title="删除选中">
                                <i class="fa fa-trash-o"></i> 批量删除
                            </button>
                        </div>
                    </div>
                    <table id="tablelist"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="layout/footer::footer"></div>
</body>
</html>
<script>
    /**
     * 操作按钮
     * @param code
     * @param row
     * @param index
     * @returns {string}
     */
    /*<![CDATA[*/
    function operateFormatter(code, row, index) {
        var trId = row.id;
        var operateBtn = [
            '<a shiro:hasPermission="resource:edit" class="btn btn-xs btn-primary btn-update" data-id="' + trId + '"><i class="fa fa-edit"></i>编辑</a>',
            '<a shiro:hasPermission="resource:delete" class="btn btn-xs btn-danger btn-remove" data-id="' + trId + '"><i class="fa fa-trash-o"></i>删除</a>'
        ];
        return operateBtn.join('');
    }
    $(function () {
        var options = {
            url: "/resources/list",
            getInfoUrl: "/resources/get/{id}",
            updateUrl: "/resources/edit",
            removeUrl: "/resources/remove",
            createUrl: "/resources/add",
            saveRolesUrl: "/resources/saveRoleResources",
            columns: [{
                checkbox: true
            }, {
                field: 'name',
                title: '资源名',
                editable: true
            }, {
                field: 'type',
                title: '资源类型',
                editable: true,
                formatter: function (code) {
                    return code == 'menu' ? '菜单' : '按钮';
                }
            }, {
                field: 'url',
                title: '资源地址',
                editable: true
            }, {
                field: 'permission',
                title: '资源权限',
                editable: true
            }, {
                field: 'parent.name',
                title: '父级资源',
                editable: false
            }, {
                field: 'icon',
                title: '资源图标',
                editable: true
            }, {
                field: 'sort',
                title: '排序',
                editable: true
            }, {
                field: 'external',
                title: '外部资源',
                editable: false
            }, {
                field: 'available',
                title: '可用',
                editable: true
            }, {
                field: 'operate',
                title: '操作',
                formatter: operateFormatter //自定义方法，添加操作按钮
            }],
            modalName: "资源"
        }
        //1.初始化Table
        $.tableUtil.init(options);
        //2.初始化Button的点击事件
        $.buttonUtil.init(options);

    });
    /*]]>*/
</script>